<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head></h:head> 
<body> 

<h1>Localización</h1>

<h:form>
	<br/>País
	<h:selectOneMenu value="#{localizacion.pais}" >
		<f:selectItems value="#{localizacion.paises}" 
					   var="pais"
					   itemValue="#{pais}"
					   itemLabel="#{pais.nombre}"/>
		<f:converter converterId="ec.edu.ups.appdis.jsfajax.converter.PaisConverter" />
		<f:ajax render="ciudadesField"
				execute="@this"/>		   
	</h:selectOneMenu>
	<br/>Ciudad
	<h:selectOneMenu id="ciudadesField" value="#{localizacion.ciudad}">
		<f:selectItems value="#{localizacion.ciudades}"
					   var="ciudad"
					   itemValue="#{cuidad}"
					   itemLabel="#{ciudad.nombre}"
					   noSelectionValue="null"/>
		<f:converter converterId="ec.edu.ups.appdis.jsfajax.converter.CiudadConverter" />
	</h:selectOneMenu>
	<br/>
	<br/>
	<h:commandButton action="#{localizacion.doRecargar}" value="@submit" />

</h:form>

</body> 
</html>
